.about{
    display: flex;
    align-items: center;
    padding: 4rem;
    margin-bottom: 2rem;
}

@media screen and (max-width:768px){
    .about{
        align-items: flex-start;
        flex-direction: column;
    }
}