.academic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.academic__title{
    font-family: Raleway;
    font-weight: 700;
    font-size: 2rem;

}

@media screen and (max-width:768px) {
    .academic__title{
        font-size: 1.375rem;
    }
}